@model BNE.PessoaFisica.Web.Models.PreCurriculo

<script type="text/javascript">
    $(document).ready(function () {
        ConfigurarPasso2();
    });
</script>
@Html.HiddenFor(m => m.Id, new { @Value = Model.Id })
@Html.HiddenFor(m => m.Nome, new { @Value = Model.Nome })
@Html.HiddenFor(m => m.Email, new { @Value = Model.Email })
@Html.HiddenFor(m => m.PretensaoSalarial, new { @Value = string.Format("{0:n0}", Model.PretensaoSalarial) })
@Html.HiddenFor(m => m.TempoExperienciaAnos, new { @Value = Model.TempoExperienciaAnos })
@Html.HiddenFor(m => m.TempoExperienciaMeses, new { @Value =  Model.TempoExperienciaMeses })
@Html.HiddenFor(m => m.DDDCelular, new { @Value = Model.DDDCelular })
@Html.HiddenFor(m => m.Celular, new { @Value = Model.Celular })
@Html.HiddenFor(m => m.IdPesquisa, new { @Value = Model.IdPesquisa })
@Html.HiddenFor(m => m.UrlPesquisa, new { @Value = Model.UrlPesquisa })


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet center bottom20"><h4><strong class="darkgrey">Confirmar candidatura!</strong></h4></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label md-input-bne">
        @Html.TextBoxFor(m => m.CPF, new { id = "txtCPF", @class = "mdl-textfield__input" })
        <label class="mdl-textfield__label" for="txtCPF">CPF</label>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label md-input-bne">
        @Html.TextBoxFor(m => m.DataNascimento, new { id = "txtDataNascimento", @class = "mdl-textfield__input" })
        <label class="mdl-textfield__label" for="txtDataNascimento">Data de Nascimento</label>
    </div>
    <div class="mdl-cell mdl-cell--12-col center top12">
        <button type="submit" name="action:FinalizarCadastro" onclick="trackEvent('PreCurriculo','Click','FinalizarCadastro');"  class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary mdl-button--raised btnformxbig">acessar e candidatar-me</button>
    </div>
</div>