@model BNE.PessoaFisica.Web.Models.PreCurriculo
           <script>
               $('#maisInfo').hide();
           </script>

@Html.HiddenFor(p => p.IdPesquisa, new {@Value = Model.IdPesquisa })
@Html.HiddenFor(p => p.UrlVoltarLogado, new { @Value = Model.UrlVoltarLogado })
@if (Model.vagaTela.FlgArquivada)
{
    <script>
        $("#btnFechaOportunidade").click();
    </script>
}
    <div class="mdl-grid">
        <div class="md-section-candidatura md-section-candidatvaga bottom20">
        @*@if (Model.vagaTela.FlgPremium && Model.NumeroCandidaturasGratis != "VIP")
        {
            Html.RenderPartial("~/Views/Modal/_ModalCandidaturaPremium.cshtml", Model);
            @Html.Partial("_EnviarCV", Model);
                     
        }*@
        @if (Model.NumeroCandidaturasGratis == "Erro")
        {
            @Html.Partial("_ConfirmacaoErro")
        }
        else if (Model.NumeroCandidaturasGratis == "VIP")
        {
                @Html.Partial("_ConfirmacaoVIP")
        }
        else if (Convert.ToInt32(Model.NumeroCandidaturasGratis) == 3)
        {
            @Html.Partial("_ConfirmacaoInicial")
        }
        else if (Convert.ToInt32(Model.NumeroCandidaturasGratis) <= 0)
        {
            @Html.Partial("_ConfirmacaoFormacao")
        }
        else
        {
            @Html.Partial("_ConfirmacaoExperiencia")
        }
        </div>

    </div>