<div class="footer">
    @*<footer>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <span class="candit-tit">Candidato</span>
                <ul class="links-footer">
                    <li><a href='@Html.Action("AtualizarCurriculo", "Link")'>Atualizar Currículo | </a></li>
                    <li><a href='@Html.Action("CadastrarCurriculo", "Link")'>Cadastrar Curríulo | </a></li>
                    <li><a href='@Html.Action("SalaVIP", "Link")'>Sala Vip | </a></li>
                    <li><a href='@Html.Action("UltimasVagas", "Link")'>Últimas Vagas | </a></li>
                    <li><a href='@Html.Action("BuscaVaga", "Link")'>Buscar Vagas | </a></li>
                    <li><a href='@Html.Action("ComprarVIP", "Link")'>Compre Serviço Vip | </a></li>
                    <li><a href='@Html.Action("QuemMeViu", "Link")'>Quem me Viu? | </a></li>
                    <li><a href='@Html.Action("PesquisaVaga", "Link")'>Pesquisa de Vagas | </a></li>
                    <li><a href='@Html.Action("ExcluirCurriculo", "Link")'>Excluir meu Currículo</a></li>
                </ul>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <span class="emp-tit">Empresa</span>
                <ul class="links-footer">
                    <li><a href='@Html.Action("AnunciarVaga", "Link")'>Anunciar Vagas | </a></li>
                    <li><a href='@Html.Action("PesquisaCurriculo", "Link")'>Pesquisar Currículos | </a></li>
                    <li><a href='@Html.Action("CurriculosRecebidos", "Link")'>Currículos Recebidos | </a></li>
                    <li><a href='@Html.Action("SalaSelecionador", "Link")'>Sala Selecionadora | </a></li>
                    <li><a href='@Html.Action("ComprarCIA", "Link")'>Planos de Acesso | </a></li>
                    <li><a href='@Html.Action("RecrutamentoR1", "Link")'>Recrutamento R1 | </a></li>
                    <li><a href='@Html.Action("CadastroCIA", "Link")'>Criar Conta | </a></li>
                    <li><a href='@Html.Action("AtualizarCIA", "Link")'>Atualizar Dados da Conta</a></li>
                </ul>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <span class="geral-tit">Institucional</span>
                <ul class="links-footer">
                    <li><a href='@Html.Action("Home", "Link")'>Pagina Inicial | </a></li>
                    <li><a href='@Html.Action("PesquisaSalarial", "Link")'>Pesquisa Salarial | </a></li>
                    <li><a href='@Html.Action("TesteSistmars", "Link")'>Teste Sistmars | </a></li>
                    <li><a href='@Html.Action("TesteCores", "Link")'>Teste das Cores | </a></li>
                    <li><a href='@Html.Action("OndeEstamos", "Link")'>Onde Estamos | </a></li>
                    <li><a href='@Html.Action("FalePresidente", "Link")'>Fale com o Presidente | </a></li>
                    <li><a href='@Html.Action("Agradecimentos", "Link")'>Agradecimentos | </a></li>
                    <li><a href='@Html.Action("Employer", "Link")'>Employer | </a></li>
                    <li><a href='@Html.Action("IndiqueBNE", "Link")'>Indique o BNE</a></li>
                </ul>
            </div>
        </div>
    </footer>*@
</div>
<div class="footer-baseline">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col center">BNE - Banco Nacional de Empregos | CNPJ 82.344.425/0001-82 | 0800 41 2400</div>
    </div>
</div>
