<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>SA2.0 | Sistema de atendimento BNE </title>
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

   @Styles.Render("~/Content/css/bootstrap.min.css")
@Styles.Render("~/Content/css/AdminLTE.css")
<link href="@Url.Content("~/Content/fonts/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />

@Styles.Render("~/Content/css/bootstrap-slider/slider.css")
@Styles.Render("~/Content/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")
@Styles.Render("~/Content/css/colorpicker/bootstrap-colorpicker.min.css")
@Styles.Render("~/Content/css/datatables/dataTables.bootstrap.css")
@Styles.Render("~/Content/css/datepicker/datepicker3.css")
@Styles.Render("~/Content/css/daterangepicker/daterangepicker-bs3.css")
@Styles.Render("~/Content/css/iCheck/all.css")
@Styles.Render("~/Content/css/ionslider/ion.rangeSlider.css")
@Styles.Render("~/Content/css/ionslider/ion.rangeSlider.skinNice.css")
@Styles.Render("~/Content/css/jvectormap/jquery-jvectormap-1.2.2.css")
@Styles.Render("~/Content/css/morris/morris.css")
@Styles.Render("~/Content/css/timepicker/bootstrap-timepicker.min.css")

@Scripts.Render("~/Scripts/jquery-{version}.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")
@Scripts.Render("~/Scripts/jquery-ui.min.js")
@Scripts.Render("~/Scripts/AdminLTE/app.js")
@Scripts.Render("~/Scripts/AdminLTE/demo.js")

</head>

<body class="skin-blue">
        @RenderBody()
        @RenderSection("scripts", required: false)
</body>
</html>
